<div class="header" style="background: url('/PaperKitPro/assets/img/ice.png') no-repeat center center fixed; -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; padding-top: 4em; ">

  <div class="filter filter-primary"></div>
  <div class="container text-center">

    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>


    <% if !logged_in? %>
        <h2 style="color: #ffffff;">Let us find you chances to play</h2>
        <small style="color: #ffffff;">We connect you with opportunities to play with others in your area</small>

        <p>&nbsp;</p>
        <%= link_to "Sign up now", signup_path, class: 'btn btn-fill btn-success' %>
        <p>
        <small style="color: #ffffff;">This whole thing is totally free to use!</small>
        </p>
    <% end %>


    <h2 style="color: #ffffff;">Find openings to play</h2>
    <small style="color: #ffffff;">Instantly search across all the sites in your area</small>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render partial: "shared/events_search" %>
      </div>
    </div>

    <h2 style="color: #ffffff;">Find places to play</h2>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render partial: "shared/venues_search" %>
      </div>
    </div>


    <h2 style="color: #ffffff;">Find a rink, court, or field by name</h2>
        <%= render partial: "shared/venue_typeahead" %>
    </div>

  </div>

</div>



