<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="media-area">
      <h3>News &middot; <%= @articles.count %> articles</h3>

      <% @articles.each do |article| %>

          <div class="media">
            <a class="pull-left" href="#">
              <div class="avatar">
                <%= gravatar_for User.find(article.owner_id), size: 50 %>
              </div>
            </a>

            <div class="media-body">
              <h5 class="media-heading"><%= article.title %></h5>

              <div class="pull-right">
                <h6 class="text-muted"><%= article.created_at.strftime("%a, %b %d, %Y") %></h6>

              </div>
              <p><%= article.body %></p>

            </div>

          </div>

          <!-- end media -->

      <% end %>

    </div>

  </div>
</div>
