<% provide(:title, 'My Settings') %>
<% activities = Activity.all %>
<h1>My Settings</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <h3>My Info</h3>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.label "My Location" %>
        <i style="color:gray">(For finding chances to play near you; for example, "Wake Forest, NC" or "27587")</i>
        <%= f.text_field :zip, class: 'form-control' %>

        <%= f.label "Date of birth" %>
        <i style="color:gray">(For filtering out age-restricted chances)</i>
        <%= f.text_field :dob, class: 'form-control' %>

        <h3>Activity</h3>
        <%= f.label "My 'default' activity to send notifications about" %>
        <select id="user_activity_id" name="[user]activity_id" class="form-control" required>
          <% activities.each do |activity| %>
              <option value="<%= activity.id %>"><%= activity.name %></option>
          <% end %>
        </select>

        <h3>Basic Notifications</h3>
        <table border="0" width="100%">
          <tr>
            <td width="10%" valign="top"><%= f.radio_button :basic_notifications_mode, 'none', :checked => (@user.basic_notifications_mode == 'none'), :class => 'form-control' %></td>
            <td width="20%" valign="top"><label class="form-label" style="padding-bottom: 25px;">None</label></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="10%" valign="top"><%= f.radio_button :basic_notifications_mode, 'email', :checked => (@user.basic_notifications_mode == 'email'), :class => 'form-control' %></td>
            <td width="20%" valign="top"><label class="form-label">Email</label></td>
            <td valign="middle"><%= f.text_field :basic_notifications_email, :class => 'form-control' %></td>
          </tr>
          <tr>
            <td width="10%" valign="top"><%= f.radio_button :basic_notifications_mode, 'text', :checked => (@user.basic_notifications_mode == 'text'), :class => 'form-control' %></td>
            <td width="20%" valign="top"><label class="form-label">Text</label></td>
            <td valign="middle"><%= f.text_field :basic_notifications_phone_number, :class => 'form-control' %></td>
          </tr>
        </table>

        <h3>Urgent Notifications</h3>
        <table border="0" width="100%">
          <tr>
            <td width="10%" valign="top"><%= f.radio_button :urgent_notifications_mode, 'none', :checked => (@user.urgent_notifications_mode == 'none'), :class => 'form-control' %></td>
            <td width="20%" valign="top"><label class="form-label" style="padding-bottom: 25px;">None</label></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="10%" valign="top"><%= f.radio_button :urgent_notifications_mode, 'email', :checked => (@user.urgent_notifications_mode == 'email'), :class => 'form-control' %></td>
            <td width="20%" valign="top"><label class="form-label">Email</label></td>
            <td valign="middle"><%= f.text_field :urgent_notifications_email, :class => 'form-control' %></td>
          </tr>
          <tr>
            <td width="10%" valign="top"><%= f.radio_button :urgent_notifications_mode, 'text', :checked => (@user.urgent_notifications_mode == 'text'), :class => 'form-control' %></td>
            <td width="20%" valign="top"><label class="form-label">Text</label></td>
            <td valign="middle"><%= f.text_field :urgent_notifications_phone_number, :class => 'form-control' %></td>
          </tr>
        </table>



        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target=_blank>change</a>
    </div>
  </div>
</div>