<% provide(:title, 'My Info') %>
<% activities = Activity.all %>
<h1>My Info</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">My Info</a></li>
      <li role="presentation"><a href="/users/<%= @user.id %>/activities">Activities</a></li>
      <li role="presentation"><a href="/users/<%= @user.id %>/notifications">Notifications</a></li>
    </ul>

    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <br />
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.label "My Location" %>
        <i style="color:gray">(For finding chances to play near you; for example, "Wake Forest, NC" or "27587")</i>
        <%= f.text_field :zip, class: 'form-control' %>

        <%= f.label "Date of birth" %>
        <i style="color:gray">(For filtering out age-restricted chances)</i>
        <%= f.text_field :dob, class: 'form-control' %>

        <table style="display:none">
          <% Activity.all.each do |activity| %>
              <tr>
                <td width="20%"><%= check_box_tag "user[activity_ids][]", activity.id, @user.activities.include?(activity) %></td>
                <td><b><%= activity.name %></b></td>
              </tr>
          <% end %>
        </table>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target=_blank>change</a>
    </div>
  </div>
</div>