<% provide(:title, 'Search Results') %>



<div class="container">
  <h3 class="title"><%= @events.count.to_s %> matching events found</h3>

  <span class="label label-info"><%= Activity.find(params['activity_id']).name %></span>
  <span class="label label-info">within <%= params[:radius] %> miles </span>
  <span class="label label-info">of <%= params[:user_geo] %></span>

  <div>&nbsp;</div>

  <%= render partial: "cards", locals: {events: @events} %>


</div>
