<%= form_for @venue, :html => {:class => ''} do |f| %>

    <div class="form-group <%= "has-error".html_safe unless @venue.errors[:name].blank? %>">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control border-input' %>
    </div>

    <div class="form-group <%= "has-error".html_safe unless @venue.errors[:address1].blank? %>">
      <%= f.label :address1 %>
      <%= f.text_field :address1, class: 'form-control border-input' %>
      <%= f.text_field :address2, class: 'form-control border-input' %>
    </div>

    <div class="form-group <%= "has-error".html_safe unless @venue.errors[:city].blank? %>">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control border-input' %>
    </div>

    <div class="form-group <%= "has-error".html_safe unless @venue.errors[:state].blank? %>">
      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control border-input' %>
    </div>

    <div class="form-group <%= "has-error".html_safe unless @venue.errors[:zip].blank? %>">
      <%= f.label :zip %>
      <%= f.text_field :zip, class: 'form-control border-input' %>
    </div>

    <div class="form-group <%= "has-error".html_safe unless @venue.errors[:phone].blank? %>">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control border-input' %>
    </div>

    <div class="form-group <%= "has-error".html_safe unless @venue.errors[:url].blank? %>">
      <%= f.label "URL" %>
      <%= f.text_field :url, class: 'form-control border-input' %>
    </div>

    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>

    <label>Activities</label>
    <div class="form-group">
      <ul>
        <% Activity.all.each do |activity| %>
            <li style="list-style-type:none;">
              <label class="checkbox checkbox-azure" for="checkbox<%= activity.id %>">

                <input type="checkbox" name="venue[activity_ids][]" id="checkbox<%= activity.id %>" value="<%= activity.id %>" id="checkbox<%= activity.id %>" data-toggle="checkbox" <%= "checked".html_safe if @venue.activities.include?(activity) %>>

                <%= activity.name %>

              </label>
            </li>
        <% end %>
      </ul>
    </div>

    <%= f.submit "Save", class: "btn btn-success btn-block bnt-fill" %>

    <p>&nbsp;</p>

    <p>&nbsp;</p>
<% end %>
