<% provide(:title, 'Search Results') %>

<div class="container">
  <h3 class="title"><%= @venues.count.to_s %> matching venues found</h3>

  <% if !params['venue_name'].nil? && params['venue_name'].length > 0 %>
      <span class="label label-info">name is like <%= params['venue_name'].upcase.split(' (')[0] %></span>
  <% else %>
      <span class="label label-info"><%= Activity.find(params['activity_id']).name %></span>
      <span class="label label-info">within <%= params[:radius] %> miles </span>
      <span class="label label-info">of <%= params[:user_geo] %></span>
  <% end %>

  <p>&nbsp;</p>

  <%= will_paginate %>

  <div class="table-responsive">
    <table class="table">
      <tbody>

      <% @venues.each do |venue| %>
          <tr>
            <td>  <%= link_to venue.name, venue %>
              <br/> <%= venue.formatted_address %>
              <br/> <%= venue.phone %>
            </td>
            <% if current_user && current_user.admin? %>
                <td class="td-actions text-right">
                  <%= link_to "edit", edit_venue_path(venue), class: 'pull-right btn btn-default' %>
                  <%= link_to "delete", venue, method: :delete, data: {confirm: "You sure?"}, class: 'pull-right btn btn-danger' %>
                </td>
            <% end %>
          </tr>
          <tr>
      <% end %>

      </tbody>
    </table>
  </div>

  <%= will_paginate %>

  <% if current_user && current_user.admin? %>
      <%= link_to 'Setup a new venue', new_venue_path, class: "btn btn-lg btn-default" %>
  <% end %>


</div>
