<%= form_for([ @activity, @event_type] ) do |f| %>

    <%= f.hidden_field :activity_id %>

    <div class="form-group <%= "has-error".html_safe unless @event_type.errors[:name].blank? %>">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control border-input' %>
    </div>

    <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>


