<%= form_for(@activity) do |f| %>

    <div class="form-group <%= "has-error".html_safe unless @activity.errors[:name].blank? %>">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control border-input' %>
    </div>

    <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
