<h1>Event Types for <%= @activity.name %></h1>

<% if @activity.event_types.count == 0 %>
    <h3>None</h3>
<% end %>


<ul class="users">
  <% @activity.event_types.each do |et| %>
      <li>
        <%= link_to et.name, edit_activity_event_type_path(@activity, et), style: 'font-weight:bold;' %>
        <%= link_to '(Delete)', activity_event_type_path(@activity, et), method: :delete, data: {confirm: 'Are you sure?'} %>
      </li>
  <% end %>
</ul>

<br>

<%= link_to 'Add Event Type', new_activity_event_type_path(@activity), class: 'btn btn-large btn-primary' %>

<p>&nbsp;</p>

<%= link_to 'Back to Activities', activities_path %>
